{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-6 tile" onclick="location.href=">
        <h2>
          Berkeley
        </h2>
      </div>
      <div class="col-6 tile">
        <h2>
          San Francisco
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 tile">
        <h2>
          Los Angeles
        </h2>
      </div>
      <div class="col-6 tile">
        <h2>
          New York
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 tile">
        <h2>
          London
        </h2>
      </div>
      <div class="col-6 tile">
        <h2>
          Tokyo
        </h2>
      </div>
    </div>
  </div>
</body>
</html>
